.product {
    width: 100%;
    height: 100%;
    padding: 8rem 15rem;

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        margin-bottom: 5rem;

        .image {
            display: grid;
            place-items: center;
            width: 80%;

            
        }

        .info {
            display: flex;
            flex-direction: column;

            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 1rem;
                border-bottom: 1px solid var(--fnt-clr);

                h3 {
                    font-size: 1.7rem;
                }

                span {
                    font-size: 1.1rem;
                }
            }

            .desc {
                padding-block: 1rem;

                p {
                    font-size: .8rem;
                    margin-bottom: 2em;
                }
            }

            .flex {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .buttons {
                    width: max-content;
                    display: flex;
                    border: 1px solid var(--fnt-clr);
                    align-self: flex-end;
    
                    .dec {
                        border-right: 1px solid var(--fnt-clr);
                        padding-inline: .5rem;
                    }
    
                    .inc {
                        border-left: 1px solid var(--fnt-clr);
                        padding-inline: .5rem;
                    }
    
                    span {
                        margin-inline: .5rem;
                    }
                }
            }

           
            .button {
                width: 100%;
                padding: .3rem 1rem;
                color: var(--bg-clr);
                border: 1px solid var(--fnt-clr);
                background-color: var(--fnt-clr);
                transition: all .2s ease-in;

                &:hover {
                    color: var(--fnt-clr);
                    background: none;
                }
            }
        }
    }

    .label {
        padding-block: .1rem;
        border-bottom: 0.0625rem solid;
    }

    .recommendation {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        padding-block: 1rem;

    }
}