.shop {
    width: 100%;
    height: 100%;
    padding: 8rem 10rem;

    .label {
        padding-block: .1rem;
        border-bottom: 0.0625rem solid;
        margin-bottom: 4rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem; 
    }
}